.article {
    margin-top: 11rem;
    display: inline-table;
    margin-left: 25%;
    border-top: 0.125rem solid black;
    width: 50%;
    &-nav {
        margin-top: 5rem;
        display: flex;
        width: 100%;
        &-tag {
            cursor: pointer;
            color: $color-secondary2;
            width: 50%;
            text-transform: uppercase;
            &--left {
                float: left;
            }
            &--right {
                text-align: right;
                // float: right;
            }
        }
    }
    &-heading {
        margin-top: 5rem;
        margin-bottom: 5rem;
        font-size: $font-large;
        font-weight: $wg-normal;
        line-height: 1.4;
        h1 {
            display: block;
            font-size: 2em;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }
    }
    &-image-wrapper {
        &--image {
            width: 100%;
        }
    }
    &-review-wrapper {
        margin-top: 2rem;
        display: flex;
        height: 10%;
        &--image {
            width: 10%;
            border-radius: 50%;
        }
        &--item {
            font-size: 12px;
            margin-left: 1rem;
            margin-top: 0.5rem;
            font-weight: $wg-bold;
        }
    }
    &-content {
        margin-top: 3rem;
        line-height: 2;
    }
    &-footer {
        margin-top: 3rem;
        font-size: $font-small;
        opacity: 0.4;
    }
    // width: 50rem;
    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
}

.highlight {
    color: $color-secondary2;
    font-weight: $wg-bold;
    font-size: 16px;
}

@media only screen and (max-width: 500px) {
    .article {
        margin-top: 14rem;
        &-review-wrapper {
            &--image {
                width: 8rem;
                height: 8rem;
            }
            &--item {
                font-size: 8px;
            }
        }
    }
    .highlight {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .article {
        h1 {
            font-size: calc(2rem + (4 * (100vw - 768px)) / 671);
        }
    }
}

@media (max-width: 450px) {
    .article {
        margin-left: 10%;
        width: 80%;
        &-heading {
            h1 {
                font-size: calc(2.75rem + (4 * (100vw - 360px)) / 407);
            }
        }
    }
}