.c-banner{
    width: 100%;
    min-height: -webkit-fill-available;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    color: $brand-color-1;
    text-align: right;
    // margin-top: -$header-height;
    &__bg{
        @include full-abs;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
    }
    &__overlay{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 60%;
        pointer-events: none;
        background-color: rgba(black, .6);
        z-index: -1;
    }
    &__content{
        padding: 40px;
        padding-top:140px;
        width: 500px;
        max-width: 100%;
    }
    &__heading{
        color: $brand-color-1;
        font-size: 38px;
        @media (min-width: 992px) {
            font-size: 64px;
        }
    }
    &__text{
        font-size: $base-font-size;
        letter-spacing: 0.5px;
        margin: 30px 0;
        line-height: 2;
    }
    &__logo{
        display: inline-block;
    }
    //versions 
    &--hf-content{
        .c-banner{
            &__content{
                width: 100%;
                @include bp-md{
                    width: 60%;
                }
            }
        }
    }
    &--align-left{
        text-align: left;
    }
    &--heading-l-br{
        .c-banner{
            &__heading{
                padding-left: 20px;
                border-left: 1px solid $brand-color-1;
            }
        }
    }
    &--btm-logo{
        padding-top: 100px;
        .c-banner{
            &__content{
                display: flex;
                flex-direction: column;
                min-height: -webkit-fill-available;
            }
            &__logo{
                margin-top: auto;
            }
        }
    }
    &--no-overlay{
        .c-banner{
            &__overlay{
                display: none;
            }
        }
    }
    &--black-heading{
        .c-banner{
            &__heading {
                color: #000;
                border-left: 1px solid #000;
            }
            &__text{
                color: #000;
            }
        }
    }
}