.main-header {
	margin-top: 8rem;
	height: 39vw;
	background-image: url("/images/hims-blog.png");
	background-color: $color-primary;
	background-size: auto 100%;
	text-align: left;
	background-repeat: no-repeat;
	background-position: right center;
	&-heading {
		text-align: center;
		font-size: 3rem;
		color: $color-font-black;
		padding: 1em 0em;
		font-weight: 800;
	}
	&-title {
		margin-left: 5.5em;
		position: absolute;
		margin-top: 10rem;
		// margin-top: 8em;
		&-primary {
			font-size: 9rem;
			color: $color-font-black;
			font-weight: 600;
			line-height: 1.09;
		}
		&-secondary {
			font-size: 2.3rem;
			color: $color-font-black;
			font-weight: 500;
		}
	}
}
