.c-category-products{
    padding: 40px;
    padding-bottom: 0; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__list{
        display: flex;
        // flex-wrap: wrap;
        overflow: auto;
    }
    &__list-item{
        display: inline-block;
        margin-right: 20px;
        padding-bottom: 2px;
        margin-bottom: 5px;
        position: relative;
        cursor: pointer;
        font-family: $sub-font;
        font-size: 16px;
        @media(min-width: 992px){
            margin-right: 40px;
        }
        &:after{
            position: absolute;
            content: "";
            width: 0%;
            height: 1px;
            left: 0;
            bottom: 0;
            background-color: $brand-color-1;
            transition: all .3s;
        }
        &:hover, &--active{
            color: $brand-color-1;
            &:after{
                width: 100%;
            }
        }
    }
    &__heading{
        margin-bottom: 40px;
        flex: 1 0 100%;
        @include bp-lg{
            flex: 1 0 50%
        }
    }
    &__sub-heading{
        flex: 1 0 100%;
        @include bp-lg{
            flex: 1 0 50%
        }
    }
    &__product{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    &__slider{
        width: 100%;
        overflow: hidden;
        padding-bottom: 50px;
        &:focus{
            outline: none;
        }
        .flickity-button{
            display: none;
        }
    }
    &__heading-wrapper{
        display: flex;
        flex-direction: column;
        flex: 1;
        @include bp-lg{
            align-items: flex-end;
            flex-direction: row;
        }
    }
    &__product-list{
        display: flex;
        flex: 1;
    }
    //versions
    &--light-2{
        background-color: $light-color-2;
    }
    &--bggrey{
        background-color: $light-color-2;
    }
    &--no-padding{
        padding: 0;
    }
    &--h-auto{
        min-height: auto;
    }

}