.c-drawer{
    .ant-drawer-header{
        border-bottom: none;
        background-color: $dark-color-1;
        color: $brand-color-1;
    }
    .ant-drawer-content{
        background-color: $dark-color-1;
        padding-left: 40px;
        padding-right: 40px;
    }
}
.c-drawer-title{
    &__logo{
        .c-logo{
            &__img{
                width: 40px;
            }
        }
    }
    &__go-back-wrapper{
        color: $brand-color-1;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__back{
        font-size: 25px;
        color: $brand-color-1;
    }
}