.c-drawer {
	.ant-drawer-header {
		border-bottom: none;
		background-color: $light-color-2;
		color: $brand-color-1;
	}
	.ant-drawer-content {
		background-color: $light-color-2;
		padding-left: 40px;
		padding-right: 40px;
		@include bpm-xs {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	@include bpm-xs {
		.c-btn--block {
			width: 100%;
		}
		.c-cart-item {
			&__heading {
				font-size: 18px;
			}
			&__sub-heading {
				font-size: 19px;
				&.c-sub-heading {
					&--small {
						font-size: 15px;
					}
				}
			}
		}
		.c-quantity {
			&__btn {
				font-size: 18px;
			}
		}
	}
	&--cart {
		.ant-drawer {
			&-content,
			&-wrapper-body,
			&-body {
				display: flex;
				flex-direction: column;
				flex: 1;
			}
			&-wrapper-body {
				overflow: visible;
			}
		}
		.c-cart-drawer {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
	}
}
.c-drawer-title {
	&__logo {
		.c-logo {
			&__img {
				width: 40px;
			}
		}
	}
	&__go-back-wrapper {
		color: $brand-color-1;
		cursor: pointer;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&__back {
		font-size: 25px;
		color: $brand-color-1;
	}
}
