.fifth-section {
	height: 100vh;
	padding: 40px;
	&__wrapper {
		display: flex;
		&--image {
			height: 100%;
			max-width: 100%;
		}
		&-heading {
			font-size: 1.4rem;
			margin-bottom: 20px;
			font-weight: 600;
			line-height: 1.7;
			color: #333;
		}
		&-title {
			font-size: 3rem;
			line-height: 1.33;
			margin-bottom: 30px;
			font-weight: normal;
			color: #333;
		}
		&-content {
			margin-bottom: 30px;
			font-size: 1.6rem;
			color: #333;
			line-height: 1.7;
			font-weight: normal;
		}
	}
}
