.c-h-img-section{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    &__content-wrapper{
        padding: 40px;
    }
    &__img-wrapper{
        position: relative;
    }
    &__img{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &--full{
        min-width: 100vh;
    }
}