.c-heading{
    font-family: $main-font;
    color: $base-color;
    font-weight: 400;
    //versions
    &--default{
        font-size: 28px;
        letter-spacing: 1px;
        @media (min-width: 992px){
            font-size: 45px;
        }
    }
    &--light{
        font-weight: 300;
    }
    &--large{
        @media (min-width: 1200px){
            font-size: 48px;
        }
    }
}
.c-sub-heading{
    font-family: $sub-font;
    color: $base-color;

    //versions
    &--default{
        font-size: 16px;
        letter-spacing: .5px;
        @media (min-width: 992px){
            font-size: 18px;
        }
    }
}
.c-heading,
.c-sub-heading{
    //versions
    &--upper{
        text-transform: uppercase;
    }
    &--gold{
        color: $brand-color-1
    }
    &--white{
        color: $light-color;
    }
    &--lft-br{
        padding-left: 20px;
        border-left: 1px solid $brand-color-1;
    }
}