.c-header{
    padding: 25px 35px;
    display: flex;
    align-items: center;
    transition: all .3s;
    &__affix{
        position: relative;
        z-index: 99;
    }
    &__nav{
        width: 50%;
        &.nav--right{
            text-align: right;
        }
    }
    &--fixed{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;
    }
    &--pinned{
        background-color: #222222;
    }
    &--light{
        * {
            color: #fff;
        }
    }
    &--dark {
        * {
            color: #222222;
        }
        &.c-header{
            &--pinned{
                background-color: #fff;
            }
        }
    }
}