.c-header{
    padding: 25px 35px;
    display: flex;
    align-items: center;
    transition: all .3s;
    &__affix{
        position: relative;
        z-index: 99;
    }
    &__nav{
        width: 50%;
        &.nav--right{
            text-align: right;
        }
    }
    &--fixed{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;
    }
    &--scrollup{
        transform: translateY(20px)
    }
    &--pinned{
        background-color: $dark-color-1;
    }
    &--light{
        * {
            color: $light-color-2;
        }
    }
    &--dark {
        * {
            color: $base-color;
        }
        &.c-header{
            &--pinned{
                background-color: $light-color-2;
            }
        }
    }
    &--bg-light{
        background-color: $light-color-2;
    }
}