.c-login {
	&__heading {
		color: $dark-color-2;
		font-size: 28px;
		@include bp-xl {
			font-size: 40px;
		}
	}
	&__info {
		color: $brand-color-1;
		font-family: $sub-font;
		@include bp-xl {
			font-size: 20px;
		}
	}
	&__error-block {
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $error-color;
	}
	&__error {
		text-transform: uppercase;
	}
	&__spinner {
		color: $brand-color-1;
	}
	&__inst {
		padding: 10px;
		text-align: center;
		color: $dark-color-1;
	}
	&__link {
		color: $brand-color-1;
		cursor: pointer;

		&--gold {
			color: $brand-color-1;
		}
		&--brand {
			color: $brand-color-1;
		}
		&--bold {
			font-weight: $wg-bold;
		}
	}
	&__forget {
		text-align: right;
		font-size: 0.95em;
	}
}
