
//Corrected the Sub-heading font-family.

.c-lr-section{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include bp-md{
        min-height: 100vh;
        background: $light-color;
    }
    &__heading{
        font-size: 50px;
        letter-spacing: 1px;
        line-height: 1;
        @media (min-width: 1200px){
            font-size: 120px;
        }
    }
    &__sub-heading{
        font-size: 30px;
        color: $brand-color-1;
        letter-spacing: 0.5px;
        font-family: $main-font;
        @media (min-width: 1200px){
            font-size: 40px;
        }
    }
    &__content-wrap{
        text-align: justify;
    }
    &__img{
        @include bpm-md{
            margin-top: 30px;
        }
    }
    &__btn-wrapper{
        text-align: right;
        @include bp-md{
            padding-left: 40px;           
        }
    }
}
