.c-personalDetails {
	margin: 90px 0;
	@include bpm-xs {
		margin: 30px 0;
	}
	&__btn-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__btn-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 60px 0;
		@media (max-width: 575px) {
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			.tab__btn {
				margin-bottom: 10px;
				margin-top: 10px;
			}
		}
	}
}
.tab__btn {
	min-width: 150px;
	border: 1px solid $base-color;
	padding: 6px 25px;
	letter-spacing: 0.5px;
	background: transparent;
	border-radius: 0;
	&:hover {
		background: $base-color;
		color: $light-color;
	}
}

// chat product from old site

.product-list-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 10px;
	padding: 20px 20px 0px 20px;
	.product-list-image-inner-wrap {
		height: 250px;
		width: 250px;
		max-width: 100%;
		margin: auto;
	}
	.product-list-btn-wrap {
		margin-left: -20px;
		margin-right: -20px;
	}
	.product-list-title-wrap {
		text-align: center;
		.product-list-title {
			font-size: 14px;
		}
		&.has-desc {
			height: 4em;
			transition: all 0.4s;
			@media (min-width: 1025px) {
				opacity: 0;
			}
			// .product-list-title {
			//   font-size: $btnFontSize;
			//   color: $mainGreyColor;
			// }
		}
	}
	.product-list-arr-btn {
		//   font-size: $btnFontSize;
		span {
			padding: 5px 10px;
			border: 1px solid;
		}
	}
	.product-list-image-inner-wrap img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	&:hover {
		.product-list-title-wrap {
			&.has-desc {
				opacity: 1;
			}
		}
	}
	@media (min-width: 1025px) {
		width: calc(100% * 2 / 7);
		// height: calc(100% - 40px);
		transition: box-shadow 0.2s, transform 0.4s;
		// background-color: $thirdBgColor;
		box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.1);
		&.fix-width {
			text-align: center;
			display: inline-block;
			width: 360px;
			max-width: 100%;
			margin-left: 10px !important;
			margin-right: 10px !important;
		}
		&:hover {
			transform: translate(0px, -5px);
			box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.2);
		}
	}
	@media (max-width: 639px) {
		flex-wrap: wrap;
		width: 100%;
	}
}
