.c-product-card {
	display: block;
	padding: 10px;
	text-align: center;
	width: 100%;
	&__img-wrapper {
		height: 450px;
		width: 100%;
		position: relative;
		@include bpm-md {
			height: auto;
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		object-fit: contain;
		object-position: bottom;
		@include bpm-md {
			position: static;
			object-position: center;
			height: 100%;
		}
	}
	&__info {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	&__btn {
		padding: 15px;
		width: 80%;
	}
	&__title {
		margin-bottom: 0;
		font-size: 1.1em;
		font-weight: 500;
		@include bp-xxl {
			font-size: 18px;
		}
	}
	&__price {
		font-family: $sub-font;
		font-size: 1.3em;
	}
	&__sub-title {
		font-weight: 500;
	}
	&__info,
	&__btn-wrapper {
		opacity: 0;
		transition: all 0.3s;
		@include bpm-md {
			opacity: 1;
		}
	}
	&__btn-wrapper {
		margin-top: auto;
	}
	&__overlay-link {
		color: $base-color;
		&:hover {
			text-decoration: none;
			color: $brand-color-1;
		}
	}
	&:hover {
		.c-product-card {
			&__info,
			&__btn-wrapper {
				opacity: 1;
			}
		}
	}
	//versions
	&--show-price {
		.c-product-card {
			&__info,
			&__btn-wrapper {
				opacity: 1;
			}
			&__btn-wrapper {
				position: relative;
			}
			&__price {
				color: $brand-color-1;
				display: flex;
				align-items: center;
				justify-content: center;
				pointer-events: none;
				transition: all 0.3s;
				margin-bottom: 20px;
				@include bp-md {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}
			&__btn {
				transition: all 0.3s;
				@include bp-md {
					opacity: 0;
				}
			}
		}
		&:hover {
			.c-product-card {
				&__price {
					opacity: 0;
				}
				&__btn {
					opacity: 1;
				}
			}
		}
	}
	&--full-height {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}
