.pr-rating{
    @include bp-md{
        padding: 110px 40px;
    }
    padding-top: 0;
    &__left-sec {
        border-right: 1px solid $brand-color-1;
    }
    &__wrapper{
        width: 200px;
        text-align: right;
    }
    &__para {
        font-size: 12px;
        margin-top: 10px;
    }
    &__heading {
        font-size: 70px;
    }
    &__list-warpper {
        list-style: none;
        padding: 0;
    }
    &__list{
        &--rate {
        font-size: 11px;
        font-weight: 500;
        margin-left: 30px;
        }
        svg {
            font-size: 19px;
        }
    }
    &__rate-wrapper svg {
        font-size: 33px;
    }
}