.c-slider-line {
    display: block;
    width: 100%;
    position: relative;
    height: 5px;
    border-bottom: 1px solid $brand-color-1;
    margin-top: auto;
    &__dragger{
        position: absolute;
        top: 0;
        height: 4px;
        // border-radius: 5px;
        background-color: $brand-color-1;
    }
}