.c-tabs{
    .ant-tabs-tab{
        // font-size: 48px;
        font-size: 26px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: 0.19px;
        color: $dark-color-2;
        opacity: 0.6;
        font-weight: 500;
        text-transform: uppercase;
        &:hover, &-active{
            opacity: 1;
            color: $dark-color-2;
        }
        
    }
    .ant-tabs-ink-bar{
        display: none !important;
    }
    .ant-tabs-bar{
        border-bottom: none;
        margin-bottom: 40px;
    }
}