//Yet to edit the Master variables. 

$container-width: 1200px;

//sizes
$nav-size: 14px;
$base-font-size: 16px;
$font-size-xxl: 20px;
$header-height: 124px;

//Extra sizes
$base-font-size-big: 150%;

//Font weight
$wg-normal: 300;
$wg-bold: 600;

$g-bp-xxs: 375px;
$g-bp-xs: 544px;
$g-bp-sm: 768px;
$g-bp-md: 992px;
$g-bp-lg: 1200px;
$g-bp-xl: 1400px;
$g-bp-xxl: 1800px;

// fonts
$main-font: "PlayFair Display", serif;
$sub-font: "Montserrat", sans-serif;

//colors
$base-color: #1a1811;
$light-color: #ffffff;
$light-color-2: #f2f2f2;
$brand-color-1: #f24503;
$dark-color-1: #302d23;
$dark-color-2: #000000;
$error-color: red;
$error-color-2: #c40000;
$border-color: #fab49a;
$black: #000;
// extra colors
$light-color-3: #fdfdfd;

$Hover-color: #f13100;
