$container-width: 1200px;

//sizes
$nav-size: 14px;
$base-font-size: 14px;
$font-size-xxl: 20px;
$header-height: 124px;

$g-bp-xxs: 375px;
$g-bp-xs: 544px;
$g-bp-sm: 768px;
$g-bp-md: 992px;
$g-bp-lg: 1200px;
$g-bp-xl: 1400px;
$g-bp-xxl: 1800px;


// fonts
$main-font: 'Montserrat', sans-serif;
$sub-font: 'Ovo', serif;

//colors
$base-color: #1A1811;
$light-color: #ffffff;
$light-color-2: #faf7f5;
$brand-color-1: #cfa564;
$dark-color-1: #302D23;
$dark-color-2: #000000;
$error-color: red;
$error-color-2: #c40000;
$border-color: #d0c9c9;
$black: #000;
// extra colors
$light-color-3: #fdfdfd;