//Yet to edit the Master variables. 

$container-width: 1200px;

//sizes
$nav-size: 14px;
$base-font-size: 16px;
$font-size-xxl: 20px;
$header-height: 124px;

//Extra sizes
$base-font-size-big: 150%;

//Border Radius
$border-radius: 5px;

//Padding
$list-item-padding: 10px;

//Font weight
$wg-normal: 300;
$wg-bold: 600;

$g-bp-xxs: 375px;
$g-bp-xs: 544px;
$g-bp-sm: 768px;
$g-bp-md: 992px;
$g-bp-lg: 1200px;
$g-bp-xl: 1400px;
$g-bp-xxl: 1800px;

// Fonts
$main-font: "PlayFair Display", serif;
$sub-font: "Montserrat", sans-serif;

//White Shades & Colors
$light-color: #ffffff;
$light-color-2: #fdfdfd;
$border-color: #fab49a;

////Orange Theme Main Color
//$brand-color-1: #ff3d00;//Original Shade
//$dark-color-1: #c30000;//Dark Shade
//$dark-color-2: #ff7539;//Light Shade


//Blue Theme Main Color
$brand-color-1: #7c4dff;//Original Shade
$dark-color-1: #3f1dcb;//Dark Shade
$dark-color-2: #b47cff;//Light Shade


//Error colors
$error-color: red;
$error-color-2: #c30000;

//Black Shades & color
$base-color: #1a1811;
$black: #000;

// Extra colors
$light-color-3: #b47cff;

$Hover-color: $brand-color-1;
