$container-width: 1200px;

//sizes
$nav-size: 14px;
$base-font-size: 16px;
$font-size-xxl: 20px;
$header-height: 124px;

//Font weight
$wg-normal: 400;
$wg-bolder: 700;
$wg-bold: 600;

$g-bp-xxs: 375px;
$g-bp-xs: 544px;
$g-bp-sm: 768px;
$g-bp-md: 992px;
$g-bp-lg: 1200px;
$g-bp-xl: 1400px;
$g-bp-xxl: 1800px;

// fonts
$main-font: "Montserrat", sans-serif;
$sub-font: "Ovo", serif;

//colors
$base-color: #1a1811;
$light-color: #ffffff;
$light-color-2: #f2f2f2;
$brand-color-1: #f24503;
$dark-color-1: #302d23;
$dark-color-2: #000000;
$error-color: red;
$error-color-2: #c40000;
$border-color: #fab49a;
$black: #000;
// extra colors
$light-color-3: #fdfdfd;

$Hover-color: #f13100;

$font-large: 20px;
$font-small: 12px;

//---blog------------------
$color-primary: #b7c7c9;
$color-secondary: #f7f1e9;
$color-secondary2: #e8972c;
$color-font-muted: rgba(0, 0, 0, 0.44);
$color-font-black: rgba(0, 0, 0, 0.88);
$color-primary2: rgb(238, 226, 215);
