.wellness {
	position: relative;
	background: $brand-color-1;
	overflow: hidden;
	@include bp-md {
		padding-right: 40px;
	}
	&__heading {
        font-family: $main-font;
		background: $brand-color-1;
		z-index: 2;
		position: relative;
		@include bp-md {
			width: 70%;
			position: absolute;
			// top: 10%;
			right: 40px;
		}
		@include bpm-md {
			padding-right: 50px;
			transform: translate(40px, 30px);
		}
		&--text {
			color: $light-color;
			text-transform: uppercase;
			padding: 7px 20px;
			font-size: 16px;
			@include bp-md {
				font-size: 35px;
			}
			@include bp-xxl {
				font-size: 45px;
			}
		}
	}
}

.wellness-wrapper {
	display: flex;
	position: relative;
	justify-content: space-between;
	@include bp-md {
		min-height: 100vh;
		&__img {
			&--img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	@include bpm-md {
		align-items: flex-end;
		flex-wrap: wrap;
		margin-top: -100px;
		&__img {
			max-width: 100%;
		}
	}
	&__desp {
		background: $brand-color-1;
		color: $light-color;
		height: auto;
		padding: 30px;
		@include bp-md {
			width: 35%;
			padding: 0;
			padding-top: 250px;
			margin-top: auto;
		}
		&--text {
			line-height: 2.3;
			@include bpm-md {
				padding: 15px 20px;
			}
		}
	}
	&__btn {
		text-align: right;
		padding-right: 54px;
	}
}
.m-40 {
	margin: 30px 0;
	text-align: right;
}
.gold {
	color: $brand-color-1;
}
.c-btn:hover {
	// color:$brand-color-1;
}
