.c-appointment-card{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    max-width: 100%;
    margin-bottom: -120px;
    @media(min-width: 1600px){
        width: 650px;
    }
    &--shadow{
        box-shadow: 0px 5px 30px rgba(#000, .2);
    }
    &__date-btn{
        margin: 6px 3px;
        // padding: 10px 0px;
        height: 40px;
        cursor: pointer;
        display: flex;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        background-color: rgb(250, 250, 250);
        transition: all .3s;
        &:hover{
            background-color: rgb(255, 232, 101);
        }
        &--disabled{
            pointer-events: none;
            background-color: transparent;
        }
    }
    &__date-col{
        background-size: auto 46px;
        background-position: top 3px center;
        background-image: url('/images/line.png');
    }
    &__scroll-row{
        padding-bottom: 25px;
        &--loading{
            padding-bottom: 25px;
            min-height: 100%;
            align-items: center;
            justify-content: center;
        }
    }
    &__scroll-wrapper{
        height: 240px;
        position: relative;
        padding-top: 10px;
        &:after{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 60px;
            pointer-events: none;
            background: linear-gradient(0deg, white, transparent);
        }
        .rcs-custom-scroll .rcs-custom-scroll-handle{
            width: 3px;
        }
    }
    .ant-card-head-title{
        text-align: center;
    }
}