.c-appointment-card{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    max-width: 100%;
    // margin-bottom: -120px;
    // @media(min-width: 1600px){
    //     width: 650px;
    // }
    &--shadow{
        box-shadow: 0px 5px 30px rgba(#000, .2);
    }
    &__date-btn{
        margin: 16px 3px;
        // padding: 10px 0px;
        height: 40px;
        cursor: pointer;
        display: flex;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        // background-color: rgb(250, 250, 250);
        background-color: $light-color-2;
        border: 1px solid $brand-color-1;
        transition: all .3s;
        text-transform: uppercase;
        &:hover{
            background-color: $brand-color-1;
            color: #fff;
        }
        &--disabled{
            pointer-events: none;
            background-color: transparent;
            border-color: transparent;
        }
    }
    &__date-col{
        // background-size: auto 46px;
        // background-position: top 3px center;
        // background-image: url('/images/line.png');
        background: linear-gradient(0deg, transparent 25px, black 25px, transparent 26px);
        background-size: 10px 56px;
        background-position: top;
        background-repeat: repeat-y;
    }
    &__scroll-row{
        padding-bottom: 25px;
        &--loading{
            padding-bottom: 25px;
            min-height: 100%;
            align-items: center;
            justify-content: center;
        }
    }
    &__scroll-wrapper{
        height: 240px;
        position: relative;
        padding-top: 10px;
        &:after{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 60px;
            pointer-events: none;
            background: linear-gradient(0deg, $light-color-2, transparent);
        }
        .rcs-custom-scroll .rcs-custom-scroll-handle{
            width: 3px;
        }
    }
    // override ant design css
    &__slider-row{
        @media (max-width: 575px) {
            margin-left: -17%;
            margin-right: -17%;
        }
    }
    .ant-card-head-title{
        text-align: center;
    }
    .ant-btn{
        border: none !important;
        box-shadow: none !important;
        background: none !important;
        color: $base-color !important;
    }
    .ant-card{
        border: none;
        background-color: transparent;
    }
}