.c-input{
    display: block;
    &__input{
        width: 100%;
        border: none;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid ;
        background-color: transparent !important;
        &:focus,&:hover{
            outline: none !important;
            box-shadow: none;
            border-bottom: 1px solid $dark-color-2;
        }
    }
    &--dark{
        .c-input{
            &__input{
                color: $light-color-2;
                border-color: $brand-color-1;
            }
        }
    }
}