.login-variation {
  &__list-wrapper {
    list-style-type: none;
    font-size: 12px;
  }
  &__list {
    width: 100%;
    padding-right: 20px;
  }
  &__list-link {
    color: $base-color;
    text-decoration: underline;
    &:hover {
      color: $base-color;
      text-decoration: underline;
    }
  }
}
.error-block {
  display: flex;
  padding: 20px;
  border: 1px solid $error-color-2;
  border-radius: 4px;
  background: $light-color-2;
  .error-heading {
    font-size: 12px;
    color: $error-color-2;
    margin-bottom: 0;
  }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background: transparent;
  border: transparent;
  border-bottom: 2px solid $base-color;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: transparent;
}
.ambassador {
  min-height: calc(100vh - 420px);
  &__table-wrapper {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    width: 100%;
  }
  &__table-desp {
    padding-left: 30px;
    width: calc(100% - 300px);
    @include bpm-md {
      width: 100%;
      padding-left: 0px;
    }
  }
  &__table-heading {
    width: 230px;
    padding-right: 25px;
    border-right: 1px solid $brand-color-1;
    font-size: 30px;
    @include bpm-md {
      font-size: 22px;
      border-right: none;
      border-bottom: 1px solid $brand-color-1;
      padding-right: 0px;
    }
  }
}
.react-tel-input .form-control,
.react-tel-input .flag-dropdown,
.react-tel-input .flag-dropdown:hover .selected-flag,
.c-select {
  background-color: transparent !important;
  border: transparent;
  border-bottom: 1px solid $base-color;
  border-radius: 0;
  width: 100%;
}
.table thead th {
  border-bottom: 0;
}

@media (max-width: 760px) {
  .table {
    width: 100%;
  }

  .table,
  .table thead,
  .table tbody,
  .table th,
  .table td,
  .table tr {
    display: block;
  }
  .table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table tr {
    border: 1px solid #ccc;
  }

  .table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 55%;
  }

  .table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    color: $base-color;
    font-weight: bold;
  }
}
.order-view-bottom td:first-child {
  text-align: right;
}
.order-view-bottom td {
  border-top: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 500;
}
.table__repeated-row {
  border-bottom: 1px solid #eee;
  margin-top: 10px;
}
.ambassador-reg-form{
    width: 800px;
    max-width: 100%;
    box-shadow: 0px 5px 30px rgba($black, .2);
    .c-input{
        width: 300px;
        padding-bottom: 40px;
        &__input{
            height: 40px;
        }
    }
}
.shadowBoxBackground{
  box-shadow: 0px 5px 30px rgba($black, .2);
}