$color-primary: #b7c7c9;
$color-secondary: #f7f1e9;
$color-secondary2: #e8972c;
$color-font-muted: rgba(0, 0, 0, 0.44);
$color-font-black: rgba(0, 0, 0, 0.88);
$color-primary2: rgb(238, 226, 215);

$wg-bolder: 700;
$wg-bold: 600;
