.date-slider-cart{
    &__day,&__time{
        line-height: 1;
        margin-bottom: 0;
        font-weight: bold;
        text-align: center;
    }
}


/**************customAPSCSS****************/@at-root