@import 'product';
@import 'home';
@import 'category';
@import 'contact';
@import 'shop';
@import 'accessibility';
@import 'privacy';
@import 'account';
@import 'learn';
@import 'consult';
@import 'favourite';
@import 'order-success';
@import 'order';
@import 'favourite';
@import 'submit-reviews';
@import 'track-order';