.c-consult-page {
	// margin-top: 2rem;
	&__container {
		padding: 40px;
		background-color: $light-color-2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include bp-md {
			min-height: 100vh;
		}
		@include bp-lg {
			padding: 100px 70px;
		}
		&--black {
			background-color: $base-color;
		}
		&--white {
			background-color: $light-color;
		}
		&--not-full {
			@include bp-md {
				min-height: auto;
			}
		}
	}
	&__list {
		padding-top: 80px;
		padding-bottom: 80px;
		display: inline-block;
		color: $brand-color-1;
		text-align: left;
	}
	&__list-item {
		line-height: 1.4;
		font-size: 20px;
		margin-bottom: 10px;
	}
	&__button-wrapper {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 250px;
		max-width: 100%;
	}
	&__img-set {
		@include bpm-md {
			width: 100%;
		}
	}
	&__dr-card-wrapper {
		@media (max-width: 400px) {
			margin-left: -30px;
			margin-right: -30px;
			width: calc(100% + 60px);
		}
	}
	&__heading {
		@include bpm-xs {
			font-size: 24px;
		}
		&.c-heading {
			&--very-large {
				font-size: 24px;
				line-height: 1.2;
				@include bp-md {
					font-size: 40px;
				}
				@include bp-lg {
					font-size: 55px;
				}
				@include bp-xl {
					font-size: 65px;
				}
				@include bp-xxl {
					font-size: 78px;
				}
			}
		}
	}
	&__title-list {
		.c-title-list {
			&__key {
				font-size: 26px;
				padding-bottom: 10px;
			}
		}
	}
	&__banner {
		@include bpm-md {
			.c-banner {
				&__heading {
					color: $brand-color-1;
					border-left: 1px solid $brand-color-1;
				}
				&__text {
					color: $light-color;
				}
			}
			.c-btn {
				border-color: $brand-color-1;
				color: $brand-color-1;
				&:hover {
					background-color: $brand-color-1;
					color: $light-color;
				}
			}
		}
	}
}
.c-consultTabs {
	.radio__wrapper {
		.ant-radio-group {
			display: flex;
			align-items: center;
		}
	}
	.consult-form {
		width: 600px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.consult-success-wrapper {
		width: 940px;
		padding-left: 10px;
		padding-right: 10px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	p.c-confirmation__center {
		@include bp-lg {
			font-size: 18px;
		}
	}
	.c-confirmation {
		&__center {
			&--heading {
				@include bpm-sm {
					font-size: 22px;
				}
			}
		}
	}
	@include bpm-md {
		.ant-tabs-nav {
			padding-top: 0;
		}
		.ant-tabs-nav > div {
			font-size: 24px;
		}
	}
}
