.c-favourites-page {
    padding-top: 100px;
    &__page-title{
        padding: 10px 40px;
        background-color: $light-color-2;
    }
    
    &__content{
        padding-left: 15px;
        padding-right: 15px;
        @include bp-md{
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

.c-favourites{
    &__item{
        background: $light-color;
        padding: 60px 0;
    }
    &__row{
        margin-right: 25px;
        margin-left: 25px;
    }
    &__heading{
        padding-bottom: 20px;
        &__title{
            font-size: 25px;
        }
    }        
    &__action {
        padding-bottom: 20px;
    }

    &__item-row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid $black;
        margin: 30px 0;
    }

    &__img-wrap {
        width: 200px;
        max-width: 100%;
        padding-left: 70px;
    }
    &__button-wrapper{
        width:200px;
        margin:30px auto;
    }

    &__action-wrap {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        width: 250px;
        list-style: none;
        padding-left: 0;

        &__list {
            color: $black;
        }
        &__list-link {
            color: $black;   
            &:hover {
                color:$brand-color-1;
            }
        }
    }
}
