.c-home{
    &__btn{
        @include bp-xl{
            padding-left: 50px;
            padding-right: 50px;
        }
        @include bp-xxl{
            padding: 10px 80px;
            font-size: 22px;
        }
    }
    .c-header{
        &__wrapper{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
        }
    }
}