.c-learn-page{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
    @include bpm-md{
        padding-top: 42px;
    }
}

//No need of borders
//.border-right-gold{
//    border-right:1px solid $brand-color-1;
//}

//Whenever the user selects an option, Class of active need to be added, so that styling could be done. Code below which has been commented is unable to achieve that since the elements are part of a list and are not an input element. 

//Not Working
.learn__collapse[type="submit"]:focus, .learn__collapse[type="submit"]:active {
    color: $brand-color-1;
    border: 1px solid $brand-color-1;
    border-radius: 5px;
    padding: 0.5em;
}

//Working
.learn__collapse:hover {
    border: 1px solid $brand-color-1;
    border-radius: 5px;
    padding: 0.5em;
}