.c-learn-page{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
    @include bpm-md{
        padding-top: 42px;
    }
}
.border-right-gold{
    border-right:1px solid $brand-color-1;
}
.learn__collapse:last-child {
    border-bottom: 1px solid;
}