.my-order {
    &__heading {
        padding: 10px 40px;
        text-transform: uppercase;
    }

    &__wrapper {
        padding: 40px;
        background: #fff;
        @include bpm-sm {
            padding: 10px;
        }
    }

    &__panel {
        border: none;
    }

    &__detail {
        display: flex;
        flex-wrap: wrap;
    }

    &__alert {
        width: 15%;
        padding-right: 20px;
        border-radius: 0;
        max-width: 100%;

        @include bpm-sm {
            width: 100%;
            padding-bottom: 10px;
            padding-right:0;
        }

        &--msg {
            background: transparent;
            border: none;
            font-size: 15px;
            margin-bottom: 0;
            font-weight: 600;
            border-radius: 0;
            padding: 0;
        }
    }

    &__msg-title {
        font-size: 15px;
        margin-bottom: 0;
    }

    &__subtitle {
        width: 640px;
        margin: 60px auto;
        color: #cfa564;
        font-weight: 500;
        max-width: 100%;
    }

    &__list-wrap {
        padding-left: 20px;
        padding-top: 10px;
        list-style: none;
    }

    &__listing {
        padding: 10px 0;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: -1px;
            bottom: 0;
            left: -17px;
            width: 7px;
            height: 7px;
            background: #000;
            border-radius: 50px;
            margin: auto;
        }
    }

    &__shopping {
        border-radius: 0;
        padding: 13px;
        margin-top: 15px;
        width: 500px;
        max-width: 100%;
    }

    &__dark-hr {
        border-top: 1px solid #000;
        margin-top: 60px;
    }

    &__thead {
        display: none;
    }

    &__t-row {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: flex-start;
        border-bottom: 1px solid #000;
        justify-content: flex-start;
        margin-top: 40px;

        &:first-child {
            margin-top: 0px;
        }
        &--v-bottom{
            align-items: flex-end;
        }
    }

    &__t-link {
        color: #000;
        text-decoration: none;

        &:hover {
            color: #000;
            text-decoration: none;
        }
    }

    &__t-btn {
        background-color:transparent !important;
        color: #000;
        border: 0;
        font-size: 14px;
        padding: 0 10px;
        border-color:transparent !important;
        box-shadow: none ;
       

        &:hover {
            background: #fff;
            color: $brand-color-1 !important;
            text-decoration: underline;
            border: 0;
        }
        &:focus{
            box-shadow: none !important; 
        }
        &:active{
            color: $brand-color-1 !important; 
            text-decoration: underline;
        }
    }

    &__table {

        &--sno {
            flex: 1 0 20px;

            @include bpm-sm {
                flex: 1 0 100%;
            }
        }

        &--name {
            flex: 1 0 20%;

            @include bpm-sm {
                flex: 1 0 100%;
            }
        }

        &--price {
            flex: 1 0 10%;

            @include bpm-sm {
                flex: 1 0 100%;
            }
        }

        &--date {
            flex: 1 0 15%;

            @include bpm-sm {
                flex: 1 0 100%;
            }
        }

        &--status {
            flex: 1 0 15%;

            @include bpm-sm {
                flex: 1 0 100%;
            }
        }

        &--action {
            flex: 1 0 20%;

            @include bpm-sm {
                flex: 1 0 100%;
                    background: #faf7f5;
            }
        }
        &--img {
            width: 140px;
            height: auto;
        }
    }

    &__t-note {
        position: absolute;
        bottom: 0;
        right: 0;
        color: $brand-color-1;

        &:hover {
            border-bottom: 1px solid $brand-color-1;
        }
    }

    &__t-note {
        position: absolute;
        bottom: -30px;
        right: 0;
    }

    .table {
        .my-order {
            &__t-col {
                border-top: 0;

                @include bpm-sm {
                    display: block;
                    text-align: right;

                    &:before {
                        content: attr(data-label);
                        float: left;
                        font-weight: bold;
                    }
                }
            }

            &__t-head {
                border-top: 0;
            }
        }
    }
    &__card-body{
            padding: 0px;
    }
    &__singleadd {
        display: flex;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
        padding: 0;
        border-bottom: 1px solid;
        margin-top: 30px;
        @include bpm-sm {
            flex-wrap: wrap;
        }
    }
    
    &__address-ul {
        list-style: none;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        color: #000;
    }
    
    &__simple-link {
        color: #000;
        &:hover{
            color:#cfa564;
        }
    }
    &__add-item {
        align-items: center;
    }
    &__add-sm {
        font-size: 14px;
        margin-right: 20px;
        margin-bottom: 0;
        color: #cfa562;
    }
    &__transition-item3 {
        border: none;
    }
    &__card-detail {
        display: flex;
    }
    &__search-icon {
        position: absolute;
        top: 4px;
        left:10px;
    }
    
    &__search-icon-input {
        padding-left: 40px;
    }
    .row{
        .col-12{
            &:first-child{
                .my-order{
                    &__singleadd {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.my-accountLink,
a.my-accountLink {
    padding: 6px 0;
    font-weight: 500;

    &:hover,  &.active  {
        color: #000;
        text-decoration:underline;
        font-weight:600; 
    }

    &__link{
        color: #000;
        font-size: 12px;

        &:hover  {
            color: #000;
        }
    }
}
.card-title {
    width: 85%;
    margin-bottom: 0;
    padding-top: 15px;
    border-left: 1px solid #cfa564;
    padding-left: 25px;

    @include bpm-sm {
        border-top: 1px solid #cfa564;
        border-left: none;
        padding-left: 0px;
        padding-top: 10px;
        width:100%;
    }
}

.sidebar-icon {
    display: none !important;
}

.flex-column p {
    font-weight: 600;
}

/*------- new ----------*/
.my-order__table
img.favrate-list-image-width {
    max-width: 100%;
}
.my-order__table--name,
.my-order__table--action {
    margin-bottom: 20px;
}

.flag-none .flag-dropdown {
    display: none;
}
/*------------- change password -------------------*/
.a-cp {
    margin: 20px 0;
    width: 15%;
    border-right: 1px solid #cfa564;
    padding-right: 50px;
    padding-left: 0;
    font-weight: 600;
    @include bpm-sm {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #cfa564;
        padding-bottom: 10px; 
        margin-bottom: 10px;
    }

    &__input {        
        width: 20%;
        border: 0;
        outline: none;
        margin-left: 10px;
        border-bottom: 1px solid;
        height: 40px;
        @include bpm-sm {
            width: 100%;
            border-bottom:0;
        }
    }
    &__error {
        color: #f20000;
        margin-left: 170px;
    }
    &__has-input {
        border-bottom: 1px solid;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__card-body {
        padding-top: 0;
    }
}
