.c-privacy{
    &__page-title{
        padding: 10px 40px;
        background-color: $light-color-2;
    }
    &__content{
        padding-left: 15px;
        padding-right: 15px;
        @include bp-md{
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}