.c-shop-page {
	// padding-top:90px;
	&__products-wrapper {
		padding: 40px;
		background-color: $light-color-2;
		@include bpm-xs {
			padding: 40px 20px;
		}
	}
	&__row {
		padding: 40px;
		&--light-bg {
			background-color: $light-color-2;
		}
	}
	&__filter-item {
		cursor: pointer;
		padding: 5px 10px;
		margin-bottom: 5px;
		text-align: right;
		opacity: 0.8;
		transition: all 0.4s;
		&--active {
			font-weight: 600;
			// font-weight: bold;
			opacity: 1;
		}
	}
	&__filter-heading {
		cursor: pointer;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 600;
	}
	&__filter {
		border-bottom: 1px solid;
	}
	&__filter-box {
		width: 250px;
		margin-left: auto;
		margin-right: 0;
		@media (max-width: 500px) {
			width: 100%;
		}
	}
	&__heading {
		text-transform: uppercase;
		font-weight: 500;
		line-height: 1.3;
		@media (max-width: 500px) {
			font-size: 24px;
		}
	}
}
